@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
body{
    margin-top:20px;
}
.card-style {
    box-shadow: 0px 0px 10px 0px #d9d6e392;
}
.card_about {
    display: flex;
    width: 102%;
    background-color: #1f1f1f;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
#intro_pic{
    width: 80%;
    height: 80%;
    margin-left: 10%;
    border-radius: 60%;
}
#paragraph1, #paragraph2{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Sarala', sans-serif;
}
section {
    padding: 120px 0;
    overflow: hidden;
    background-color: #010101;
}
.mb-2-3, .my-2-3 {
    margin-bottom: 2.3rem;
}

.section-title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
}

label{
    font-size: 20px;
    color: #ceaa4d !important;
    font-family: 'Rubik', sans-serif;
}
#about_info{
    color: white;
}
.text-primary {
    color: #ceaa4d !important;
}
.font-weight-600 {
    font-weight: 600;
}
.display-26 {
    font-size: 1.5rem;
    list-style: none;
}

#education-title{
  color: #ceaa4d !important;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;


}


@media screen and (min-width: 992px){
    .p-lg-7 {
        padding: 4rem;
    }
}
@media screen and (min-width: 768px){
    .p-md-6 {
        padding: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .p-sm-2-3 {
        padding: 2.3rem;
    }
}
.p-1-9 {
    padding: 1.9rem;
}

.bg-secondary {
    background: #1A233D !important;
}

@media screen and (min-width: 576px){
    .pe-sm-6, .px-sm-6 {
        padding-right: 3.5rem;
    }
}
@media screen and (min-width: 576px){
    .ps-sm-6, .px-sm-6 {
        padding-left: 3.5rem;
    }
}
.pe-1-9, .px-1-9 {
    padding-right: 1.9rem;
}
.ps-1-9, .px-1-9 {
    padding-left: 1.9rem;
}
.pb-1-9, .py-1-9 {
    padding-bottom: 1.9rem;
}
.pt-1-9, .py-1-9 {
    padding-top: 1.9rem;
}
.mb-1-9, .my-1-9 {
    margin-bottom: 1.9rem;
}
@media (min-width: 992px){
    .d-lg-inline-block {
        display: inline-block!important;
    }
}
.rounded {
    border-radius: 0.25rem!important;
}

.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    }
    .bar{
    position: relative;
    border: 2px solid #ceaa4d;
    border-radius: 20px;
    }
    .bar div{
    position: relative;
    width: 0;
    height: 15px;
    border-radius: 10px;
    background-color: #1A233D;
    }
    
    #html-bar{
    animation: html-fill 2s forwards;
    }
    @keyframes html-fill{
    100%{
      width: 90%;
    }
    }
    #css-bar{
    animation: css-fill 2s forwards;
    }
    @keyframes css-fill{
    100%{
      width: 70%;
    }
    }
    #js-bar{
    animation: js-fill 2s forwards;
    }
    @keyframes js-fill {
    100%{
      width: 46%;
    }
    }
    #SQL-bar{
    animation: SQL-fill 2s forwards;
    }
    @keyframes SQL-fill{
    100%{
      width: 60%;
    }
    } 
    #java-bar{
      animation: java-fill 2s forwards;
      }
      @keyframes java-fill{
      100%{
        width: 50%;
      }
      } 
    #C-bar{
      animation: c-fill 2s forwards;
      }
      @keyframes c-fill{
      100%{
        width: 40%;
      }
      } 
    #communication-bar{
      animation: communication-fill 2s forwards;
      }
      @keyframes communication-fill{
      100%{
        width: 80%;
      }
      }
    #research-bar{
      animation: research-fill 2s forwards;
      }
      @keyframes research-fill{
      100%{
        width: 88%;
      }
      }  
    #problem-bar{
      animation: problem-fill 2s forwards;
      }
      @keyframes problem-fill{
      100%{
        width: 67%;
      }
      }  
    #business-bar{
      animation: business-fill 2s forwards;
      }
      @keyframes business-fill{
      100%{
        width: 75%;
      }
      }  

    .timeline {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      flex-direction: column;
      max-width: 700px;
      position: relative;
    }
    .timeline__content-title {
      font-weight: normal;
      font-size: 65px;
      text-align: center;
      margin: -10px 0 0 0;
      transition: 0.4s;
      padding: 0 10px;
      box-sizing: border-box;
      font-family: "Pathway Gothic One", sans-serif;
      color: #fff;
    }
    .timeline__content-desc {
      margin: 0;
      font-size: 15px;
      box-sizing: border-box;
      color: rgba(255, 255, 255, 0.7);
      font-family: 'Sarala', sans-serif;
      font-weight: normal;
      line-height: 25px;
    }
    .timeline:before {
      position: absolute;
      left: 50%;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      content: "";
      background: rgba(255, 255, 255, 0.07);
    }
    @media only screen and (max-width: 767px) {
      .timeline:before {
        left: 40px;
      }
    }
    .timeline-item {
      padding: 40px 0;
      opacity: 0.3;
      filter: blur(2px);
      transition: 0.5s;
      box-sizing: border-box;
      width: calc(50% - 40px);
      display: flex;
      position: relative;
      transform: translateY(-80px);
    }
    .timeline-item:before {
      content: attr(data-text);
      letter-spacing: 3px;
      width: 100%;
      position: absolute;
      color: rgba(255, 255, 255, 0.5);
      font-size: 13px;
      font-family: 'Sarala', sans-serif;
      border-left: 2px solid #ffffff80;
      top: 70%;
      margin-top: -5px;
      padding-left: 15px;
      opacity: 0;
      right: calc(-100% - 56px);
    }
    .timeline-item:nth-child(even) {
      align-self: flex-end;
    }
    .timeline-item:nth-child(even):before {
      right: auto;
      text-align: right;
      left: calc(-100% - 56px);
      padding-left: 0;
      border-left: none;
      border-right: 2px solid rgba(255, 255, 255, 0.5);
      padding-right: 15px;
    }
    .timeline-item--active {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
    }
    .timeline-item--active:before {
      top: 50%;
      transition: 0.3s all 0.2s;
      opacity: 1;
    }
    .timeline-item--active .timeline__content-title {
      margin: -50px 0 20px 0;
    }
    @media only screen and (max-width: 767px) {
      .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
      }
      .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
      }
      .timeline-item:last-child {
        padding-bottom: 40px;
      }
    }
    .timeline__img {
      max-width: 100%;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    }
    .timeline-container {
      width: 100%;
      position: relative;
      padding: 80px 0;
      transition: 0.3s ease 0s;
      background-attachment: fixed;
      background-size: cover;
    }
    .timeline-container:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(99, 99, 99, 0.8);
      content: "";
    }
    .timeline-header {
      width: 100%;
      text-align: center;
      margin-bottom: 80px;
      position: relative;
    }
    .timeline-header__title {
      color: #fff;
      font-size: 46px;
      font-family: 'Sarala', sans-serif;
      font-weight: normal;
      margin: 0;
    }
    .timeline-header__subtitle {
      color: #ffffff80;
      font-family: 'Sarala', sans-serif;
      font-size: 16px;
      letter-spacing: 5px;
      margin: 10px 0 0 0;
      font-weight: normal;
    }
    
    
    .btn {
      position: relative;
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1em 2.5em;
      display: inline-block;
      border-radius: 5em;
      transition: all .2s;
      border: none;
      font-family: inherit;
      font-weight: 500;
      color: white;
      background-color: #1F1F1F;
     }
     .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      color: #fff;
     }
     
     .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     }
     
     .btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
     }
     
     .btn::after {
      background-color: #1f1f1f;
     }
     
     .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
     }