@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin-top:20px;
    color: #e2e8f0;
    text-align: left;
    background-color: #010101;
}

#navbar{
  text-decoration: none;
  color: white;
}

header {
  position: relative;
  font-size: 70px;
  color: #ceaa4d;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 700;
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1f1f1f;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

h6 {
  position: relative;
  padding-left: 40px; /* Adjust this value based on your icon size */
}

#contact-icon{
  position: absolute;
  left: 0;
  top: 0;
  /* Styles for your icon, such as font-family, content, etc. */
}



.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
  text-decoration: none;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 20px;
}
.social-button svg {
  height: 30%;
  width: 30%;
}

.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}

.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}

.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
);
outline-color: #a02d76;
}

.social-button--telegram {
  color: #0088cc ;
}
.social-button--telegram::after {
  background: #0088cc;
}

.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}

.social-button--github {
  color: #171515 ;
}
.social-button--github::after {
  background: #171515 ;
}

.social-button--pinterest {
  color: #c8232c  ;
}
.social-button--pinterest::after {
  background: #c8232c  ;
}


.contact-in{
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  background: #ffff;
  font-family: 'Poppins', sans-serif;
}
.contact-map{
  max-width: 100%;
  max-height: 100%;
  flex: 50%;
}
.contact-map iframe{
  width: 100%;
  height: 100%;
}
.contact-form{
  width: 100%;
  height: auto;
  flex: 50%;
  padding: 30px;
  text-align: center;
}
.contact-form h1{
  margin-bottom: 10px;
  color: #010101;
  font-family: 'Poppins', sans-serif;
  font-weight: 680;
}
.contact-form-txt{
  width: 100%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
}
.contact-form-txtarea{
  width: 100%;
  height: 300px;
  color: #000;
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  resize: none;
  font-family: 'Poppins', sans-serif;
}
.contact-form-txt::placeholder{
  color: #aaa;
}
.contact-form-txtarea::placeholder{
  color: #aaa;
}

input[type=submit]{
  position: relative;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  display: inline-block;
  border-radius: 5em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
  background-color: #1F1F1F;
  border-radius: 50px;
  cursor: pointer;
}
input[type=submit]:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #fff;
}

input[type=submit]:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 input[type=submit]::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 input[type=submit]::after {
  background-color: #1f1f1f;
 }
 
 input[type=submit]:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
 } 