@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;700&family=Roboto&display=swap');

  body {
    box-sizing: border-box;
    background-color: #000000;
    overflow: hidden;
    } 
  
  #header{
      width: 100%;
      height: 100vh;
      background-image: url("../images/background.gif");
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      justify-content: center;
  }
  .header-text{
    color: white;
    font-family: 'Fira Sans', sans-serif;;
  }
  .container-home {
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    height: auto;
  }
  .circle-img{
    position: absolute;
    border-radius: 500px;
    top: 100px;
    left: 750px;
    border-width: px;
    border-style: solid;
    width: 40%;
    height: 80%;
    opacity: 0;
    animation: zoom-in 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes zoom-in {
    0%{
      transform: translate(0);
      opacity: 0;
    }

    100%{
      transform: translate(1);
      opacity: 1;
    }
  }

  .right {
    text-align: right;
    width: 100%;
  }
  .web {
    text-align: left;
    width: 100%;
    margin-left: 40px;
    margin-top: 250px;
    color: #ceaa4d;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    margin-left: 40px;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

  
  .btn {
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0.6;
    margin-left: 5%;
  }
  
  .btn::after {
    content: '';
    border-bottom: 3px double rgb(214, 207, 113);
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: -5px;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }
  
  .btn .icon {
    transform: translateX(0%);
    transition: .2s linear;
    animation: attention 1.2s linear infinite;
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 0.7;
    width: 90%;
  }
  
  .btn:hover {
    letter-spacing: 2px;
    opacity: 1;
  }
  
  .btn:hover > .icon {
    transform: translateX(30%);
    animation: none;
  }
  
  @keyframes attention {
    0% {
      transform: translateX(0%);
    }
  
    50% {
      transform: translateX(30%);
    }
  }

  